/*
* Stylesheet for lookalike Google's homepage
* @author Judith Kamba
*/


/* Layout */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap {
    width: 100%;
    min-height: 100%;
}


/* =LOGO */

.identity {
    margin-top: 120px;
}


/* Center the logo horizontally */

.logo {
    background: url("img/logo-google.png") no-repeat;
    height: 92px;
    margin: 0 auto;
    width: 272px;
}

.country {
    font: 14px sans-serif;
    color: #4285f4;
    position: relative;
    top: 70px;
    left: 215px;
}


/* =FORM */


/* Center search box horizontally */

.b-search {
    height: 30px;
    margin: 25px 0 0;
    text-align: center;
}

.b-search .search {
    height: 100%;
    width: 430px;
    padding: 2px 8px;
}

.b-search .submit-button {
    background-color: #f2f2f2;
    border: none;
    color: #888;
    font: bold 13px sans-serif;
    margin: 25px 3px 0;
    height: 35px;
    padding: 5px 15px;
}


/* =FOOTER */