/*
* Stylesheet for lookalike Google's homepage
* @author Judith Kamba
*/


/* =Layout */


/* Make body,#wrap height expand  */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font: 1em arial, sans-serif;
}

body,
.wrap {
    min-height: 100%;
}


/* =General Style */

a {
    text-decoration: none;
}


/* =HEADER */

.header {
    text-align: right;
    height: 70px;
    vertical-align: middle;
}

.header .nav {
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
}

.nav .link {
    color: #222;
    padding: 0 6px;
}

.nav .link:hover {
    text-decoration: underline;
}

.nav .apps {
    vertical-align: middle;
    height: 25px;
    width: 25px;
    display: inline-block;
    background-image: url('img/icon-apps.png');
}

.nav .login {
    background-color: #4285f4;
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 6px 5px;
    font: bold 0.9em arial, sans-serif;
    display: inline-block;
}


/* =LOGO */

.identity {
    height: 100%;
    padding: 0;
    margin: 0;
}


/* Center the logo horizontally */

.identity .logo {
    background: url("img/logo-google.png") no-repeat;
    height: 92px;
    margin: 0 auto;
    width: 272px;
}

.identity .country {
    font: 14px sans-serif;
    color: #4285f4;
    position: relative;
    top: 70px;
    left: 215px;
    width: 50px;
}


/* =FORM */


/* Center search box horizontally */

.b-search {
    height: 100%;
    margin: 25px 0 0;
    text-align: center;
}

.b-search .search {
    height: 100%;
    width: 45%;
    padding: 9px 4px;
    margin: 0 auto;
    border: 1px solid black;
}

.b-search .submit-button {
    background-color: #f2f2f2;
    border: none;
    color: #888;
    font: bold 13px sans-serif;
    margin: 25px 3px 0;
    height: 35px;
    padding: 5px 15px;
}


/* =FOOTER */